/******************************* 
GENERAL 
********************************/

a {
	/* tolgo sottolineatura */
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
}

/******************************* 
HEADER
********************************/

#logo {
	text-align: center;
}

header {
	background-color: #37A96D;
	/* tolgo il margine superiore */
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
}

h1 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 15px 0;
	font-size: 2.1em;
}

h2 {
	color: #ffffff;
	font-family: 'Candal', sans-serif;
	margin: 15px 0 20px 0;
	font-size: 1.4em;	
}

/******************************* 
NAV
********************************/

nav{
	background-color: #297F52;
	text-align: center;
	padding: 5px 0 5px 0;
}

nav a {
	color: #ffffff;
}

nav ul {
	list-style: none;
	margin: 5px 0;
	padding: 0;
}

nav li {
	display: inline-block;	
}

nav a:hover {
	color: #27583F;
}

nav a.selected {
	color: #27583F;	
}

/******************************* 
SECTION
********************************/

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5% 5px 5%;
}

#gallery {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #f5f5f5;
}

#gallery li a p {
	font-size: 0.85em;
	color: #000;
	padding: 5%;
	margin: 0;
}

/******************************* 
FOOTER
********************************/
footer {
	text-align: center;
	clear: both;
	padding: 50px;
}

footer p {
	font-size: 0.85em;
}

footer img {
	width: 50px;
	height: 50px;
}